body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.tm-btn-gray {
    background-color: #494752;
    color: white;
}

.tm-btn-gray:hover {
    background-color: #77757d;
    color: white;
}

.btn {
    padding: 0.5rem 2.4rem;
    font-size: 1.2rem;
    border-radius: 0;
}

a{
    text-align: center;
}

hr {
    height: 2px;
    background-color: black;
}


.winner {
    background-color: lightgray;
    color: red;
}

.horizontal-line {
    border-bottom: 3px solid black;
}

.vertical-line {
    border-right: 3px solid black;
}
